<footer class="footer" style="background-color: #ffffff; color: #000000; padding: 10px;">
    <div class="footer-content" style="display: flex; flex-direction: column; align-items: center;">
        <h3 style="font-size: 18px; margin-bottom: 5px;">© 2023 Dividend yield forecasting</h3>
        <p style="font-size: 14px;">Developed for a course project by Nathan Yepikhau</p>
        <p style="font-size: 14px;">Contacts: khauzuki@outlook.com</p>
    </div>
</footer>