<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/avt.css">
	<link rel="stylesheet" href="css/table.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/blocks.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>

    <div style="height:5%;width:100%">
        <%- include('../partials/header.ejs') %>
	</div>
	
	<div class="windowContent">
        <main><%- body %></main>
	</div>
	
	<div>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
    <script defer src="js/main.js"></script>
</html>